* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
}

.dashboard {
    display: flex;
    width: 100%;
}

.menu-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #2E3A59;
    color: #fdf5f5;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    z-index: 1000; /* Asegura que el botón esté encima del contenido */
}

.sidebar { /*ampliacion de la barra */ 
    width: 20%;
    background-color: #2E3A59;
    color: #fff;
    padding: 20px;
    transition: transform 0.3s ease;
    position: fixed; /* Mantener la barra lateral fija */
    top: 0;
    left: 0;
    height: 100%;
}


.sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar ul { /*contenido de la barra*/
    list-style: none;
    font-size: 18px;
    padding: 10px;
    color: #fffdfd; /* Color de la letra */
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar li {
    padding: 20px;
    cursor: pointer;
}

.main-content {
    width: 100%;
    margin-left: 20%;
    padding: 20px;
    background-color: #f4f4f9;
    transition: margin-left 0.3s ease;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #2E3A59;
    padding: 10px;
    margin-bottom: 20px;
}

.header-item {
    color: #fdfdfd;
    font-weight: bold;
    font-size: 18px;
}

.data-panels {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.bar-chart, .pie-charts {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
}

.bar-chart { /*reduce el tamaño de cuadro de top de productos vendidos*/
    width: 60%;
    align-items: center;
}

.pie-charts { /*columna de la derecha*/
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 35%;
    max-width: 500px; /* Ajusta según sea necesario */
    
}
.pie-chart {
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
}






/* Estilos para dispositivos pequeños */
@media (max-width: 768px) {
    .sidebar {
        width: 70%;
    }
    
    .main-content {
        margin-left: 0;
    }
}

