@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: normal;
    margin: 0;
    background: #ebe9e9;
}
.main--content{
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;

}
.header--wrapper img{ /*imagen*/
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 1rem;
    border-radius: 50%;
}
.header--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1 rem;
}
.header--title{
    color: rgb(146, 1, 146);
}

.user--info{
    display: flex;
    align-items: center;
    gap: 1rem;

}
.searh--box{
    background: rgb(237, 237, 237);
    border-radius: 15px;
    color: rgba(113, 99, 186);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;

}
.search--box input {
    background: transparent;
    padding: 10px;

}
.search--box i{
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.search--box i:hover{
    transform: scale(1.2);
}

.card--container{
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
}



