* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
}
.container {
    max-width: 600px;
    margin: auto;
    padding: 10px;
}
.dashboard {
    display: flex;
    flex-direction: column;
}

.menu-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #2E3A59;
    color: #fdf5f5;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    z-index: 1000; /* Asegura que el botón esté encima del contenido */
}

.sidebar {
    width: 20%;
    background-color: #2E3A59;
    color: #fff;
    padding: 20px;
    transition: transform 0.3s ease;
    position: fixed; /* Mantener la barra lateral fija */
    top: 0;
    left: 0;
    height: 100%;
}

.sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    font-size: 18px;
    padding: 10px;
    color: #fffdfd; /* Color de la letra */
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar li {
    padding: 20px;
    cursor: pointer;
}

h1 {
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 10px;
}

.button {
    padding: 10px 15px;
    margin: 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.report {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

#reportOutput {
    white-space: pre-wrap;
    color: #2c3e50;
}
