/*Barra General*/ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.button {
    padding: 10px 15px;
    margin: 0;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.buttonAgregar{
    text-align: center;
}

.report {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}


.dashboard {
    display: flex;
    width: 100%;
}
.menu-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #2E3A59;
    color: #fdf5f5;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    z-index: 1000; /* Asegura que el botón esté encima del contenido */
}
.sidebar { /*ampliacion de la barra */ 
    width: 20%;
    background-color: #2E3A59;
    color: #fff;
    padding: 20px;
    transition: transform 0.3s ease;
    position: fixed; /* Mantener la barra lateral fija */
    top: 0;
    left: 0;
    height: 100%;
}


.sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar ul { /*contenido de la barra*/
    list-style: none;
    font-size: 18px;
    padding: 10px;
    color: #fffdfd; /* Color de la letra */
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar li {
    padding: 20px;
    cursor: pointer;
}

.sidebar li:hover {
    background-color: #3b4a6b;
}

/*************** Estilos específicos para Inventario ***************/
table{
    border-spacing: 8px;
    
}

.inventory-table {
    margin: 50px auto; /*si quitas el auto se pone a la izquierda y si quitas el .buttonAgregar se regresa a la izquierda el boton de Agregar Producto*/
    padding: 0px;
    width:min-content;
    border-collapse: separate;
    border: 5px solid #022c58;
    border-radius: 10px;
    background-color: #022c58 ;
    border-spacing: 20px;
}

.inventory-table th,
.inventory-table td {
    padding: 10px;
    border-radius: 8px;
    
}
.inventory-table th {
    background-color: #022c58;
    color: white;
    
}
.inventory-table td {
    background-color: #f9f9f9;
    text-align: center;
    
}

.editarProducto{
    background-color: #022c58;
}

.inventory-table button {
    margin: 0;
    padding: 10px 20px;
    color: #fff;
    background-color: #28a745;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.inventory-table button:hover {
    background-color: #218838;
}

.main-content{
    color: #f9f9f9;
    
}

.inventory-table{
    color: #000000;
}

/****************************Almacen****************************/

.panel-almacen{
    width: 100%;
    background-color: #fff;
}

.almacen-container {
    text-align: center;/* Centra el texto */
    margin-top: 40px; 
    margin-bottom: 20px; /* Agrega un espacio debajo del texto */
}

.almacen-container h2 {
    margin: 0; /* Elimina cualquier margen adicional alrededor del título */
    padding: 10px 0; /* Añade un poco de espacio arriba y abajo del texto */
    color: #2E3A59;
}
.icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}

.icon-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #ffffff; /* Fondo del botón */
    border: 1px solid #fff8f8;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

.icon-button:hover {
    background-color: #e0e0e0;
}

.icon-button i {
    font-size: 40px; /* Tamaño del icono */
    margin-bottom: 5px;
    color: #0c0b0b; /* Color del icono */
}

.icon-button p {
    margin: 0;
    font-size: 12px;
}